/*
   Ryan's: Doom One-ish
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ff6c6b;
$alto: #efefef;
$bouquet: #c678dd;
$chelsea-cucumber: #98be65;
$cod-grey: #1B2229;
$conifer: #4dbd7c;
$dove-grey: #666;
$gallery: #E6E6E6;
$grey: #888;
$gulf-stream: #46D9FF;
$hippie-blue: #51afef;
$potters-clay: #8f5536;
$rajah: #ECBE7B;
$raw-sienna: #da8548;
$silver-chalice: #b1b1b1;
